﻿* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#MainContent {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
}

    #MainContent:after {
        content: "";
        display: block;
    }

footer, #MainContent:after {
    /* .push must be the same height as footer */
    height: 30px;
    text-align: center;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.SubmitButton {
    float: none !important;
    margin-top: 30px !important;
}

.body-content {
    margin-top: 30px !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
